<div ng-switch on="ctrl.property">
    <!--Authors-->
    <div ng-switch-when="Author">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                <a ng-click="ctrl.authorDetails()" class="theme">{{ctrl.value}}</a>
                <!--<span ng-repeat="a in ctrl.value"><a ng-click="ctrl.authorDetails()" class="theme">{{a}}</a><span-->
                <!--ng-show=" ! $last ">, </span></span>-->
            </div>
        </div>
    </div>
    <!--Files-->
    <div ng-switch-when="Files">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                <span ng-if="!ctrl.user">{{ctrl.value}} files</span>
                <a ng-if="ctrl.user" href="/app/test.jpg" download="files.zip" class="theme">{{ctrl.value}} files
                    <i class="fa fa-fw fa-download"></i></a>
            </div>
        </div>
    </div>
    <div ng-switch-when="Publication">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                <span class="theme">{{ctrl.value}}</span>
            </div>
        </div>
    </div>
    <div ng-switch-when="Authors">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-offset-2 col-sm-10 field-value" ng-repeat="author in ctrl.value">
                {{author.lastname}}, {{author.firstname}} ({{author.affiliation}})
            </div>
        </div>
        <!--Others-->
        <div ng-switch-default>
            <div class="form-group">
                <label class="col-sm-2 field-label">{{ctrl.property}}</label>
                <div class="col-sm-10 field-value">
                    {{ctrl.value}}
                </div>
            </div>
        </div>
    </div>




