<div ng-switch on="ctrl.property">
  <!-- Author -->
  <div ng-switch-when="Author">
    <div class="form-group">
      <label class="col-sm-1 field-label">{{ctrl.property}}</label>
      <div class="col-sm-11 field-value">
        <a ng-click="ctrl.authorDetails()" class="theme">{{ctrl.formatAuthor(ctrl.value)}}</a>
        <!--<span ng-repeat="a in ctrl.value"><a ng-click="ctrl.authorDetails()" class="theme">{{a}}</a><span-->
        <!--ng-show=" ! $last ">, </span></span>-->
      </div>
    </div>
  </div>
  <!-- Files -->
  <div ng-switch-when="Files">
    <div class="form-group">
      <label class="col-sm-1 field-label">{{ctrl.property}}</label>
      <div class="col-sm-11 field-value">
        <span ng-if="!ctrl.user">{{ctrl.value}} files</span>
        <a ng-if="ctrl.user" href="" download="fullDataset.zip" class="theme">{{ctrl.value}} files
          <i class="fa fa-fw fa-download"></i></a>
      </div>
    </div>
  </div>
  <!-- Publication -->
  <div ng-switch-when="Publication">
    <div class="form-group">
      <label class="col-sm-1 field-label">{{ctrl.property}}</label>
      <div class="col-sm-11 field-value">
        <span class="theme">{{ctrl.value}}</span>
      </div>
    </div>
  </div>
  <!-- (all) Authors-->
  <div ng-switch-when="Authors">
    <div class="form-group">
      <label class="col-sm-1 field-label">{{ctrl.property}}</label>
      <div class="col-sm-11 field-value">{{ctrl.formatAuthorList(ctrl.value)}}</div>
    </div>
  </div>
  <!--Others-->
  <div ng-switch-default>
    <div class="form-group">
      <label class="col-sm-1 field-label">{{ctrl.property}}</label>
      <div class="col-sm-11 field-value">
        {{ctrl.value}}
      </div>
    </div>
  </div>
</div>





