<div>
  <form class="search" ng-submit="searchBar.searchResults(item)">
    <div class="input-group">
      <div class="input-group-btn dropdown" dropdown="">
        <button type="button" class="btn btn-default" dropdown-toggle="" data-toggle="dropdown">
          {{searchBar.selection}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="item in searchBar.dropdown_list"><a ng-click="searchBar.selection = item">{{item}}</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" ng-model="searchBar.searchTerm" placeholder="Search for...">
    </div><!-- /input-group -->
  </form>
</div>

