<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Public Data</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="main.home"><i class="fa fa-fw fa-home"></i>Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="main.home"><i class="fa fa-fw fa-upload"></i>Upload a Dataset</a></li>
        <li ng-show="!email_address" ui-sref-active="active">
          <a ng-click="ctrl.sign()"><span style="border: 1px solid red; padding: 6px;" ><i class="fa fa-fw fa-home"></i>Sign Up / Login</span></a></li>

        <li  ng-show="email_address" uib-dropdown on-toggle="toggled(open)">
          <a uib-dropdown-toggle><i class="fa fa-fw fa-user fa-1x"></i>
            {{email_address}}<span class="caret"></span></a>
          <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li><a><i class="fa fa-cog"></i>
              Settings</a></li>
            <li><a ng-click="ctrl.logout()"><i class="fa fa-sign-out"></i>
              Logout</a></li>
          </ul>
        </li>
      </ul>
      <div ng-if="showSearchBar" style="padding-top: 10px;" class="col-sm-5 pull-right">
        <search-bar-directive></search-bar-directive>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>


