<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Make Data Public
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref="main.home" ui-sref-active="selected"><a>Home</a></li>
        <!--<li   ui-sref="main.login" ui-sref-active="selected"><a>Login</a></li>-->
        <li   ui-sref="main.release" ui-sref-active="selected"><a> Releases</a></li>
      </ul>
        <span class="input-group col-sm-5 pull-right" style="padding-top: 8px;">
            <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
        </span>
    </div>
  </div>
</nav>


