<div class="jumbotron custom">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-offset-1">
        <p class="title">Search for public data</p>
        <search-bar-directive></search-bar-directive>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /Jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-sm-9" style="border-right: 1px solid #cfcfcf;">
      <div home-tab-directive></div>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="text-uppercase title">Popular Tags</h4>
          <tags-input ng-model="home.tags" display-property="id"
                      disabled="true" placeholder="Login to Edit/Add tags"></tags-input>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm-12">
          <h4 class="text-uppercase title">Browse</h4>
          <!--<div ng-click="datasets = !datasets">-->
            <!--<i ng-show="!datasets" class="fa fa-plus fa-fw "></i> <i ng-show="datasets" class="fa fa-minus fa-fw "></i>Datasets-->
          <!--</div>-->
          <!--<ul ng-show="datasets">-->
            <!--<li ng-repeat="ds in home.datasets | limit: 5">{{ds.name}}</li>-->
          <!--</ul>-->
          <div ng-click="process = !process"><i ng-show="!process" class="fa fa-plus fa-fw ">
          </i><i ng-show="process" class="fa fa-minus fa-fw "></i>Process Types
          </div>
          <ul ng-show="process">
            <li ng-repeat="type in home.process_types"><a ui-sref="main.browse({group: type.group})">{{type.group}}</a></li>
          </ul>
          <div ng-click="sample = !sample"><i ng-show="!sample" class="fa fa-plus fa-fw ">
          </i><i ng-show="sample" class="fa fa-minus fa-fw "></i>Samples
          </div>
          <ul ng-show="sample">
            <li ng-repeat="sample in home.samples">{{sample.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
