label{
  font-weight: normal;
  margin-bottom: 0px;
}

.text-light{
  color: grey;
}

.jumbotron.custom{
  background-color: $orange;
  margin-top: -20px;
}

.nav.nav-tabs{
  li{
    a{
      color: $orange;
      font-weight: bold;
    }
  }
}

.theme{
  color: $orange;
}

#hr{
  border-color: #cfcfcf;
}




