label{
  font-weight: normal;
  margin-bottom: 0px;
}

.text-light{
  color: grey;
}

.jumbotron.custom{
  background-color: $orange;
  margin-top: -20px;
}

.nav.nav-tabs{
  li{
    a{
      color: $orange;
      font-weight: bold;
    }
  }
}

.theme{
  color: $orange;
}

hr{
  border-color: $divider;
  margin-top: 10px;
}

.form-group{
  margin-bottom: 5px;
}

.dataset{
  .title{
    color: $heading;
  }
  .action-count {
    margin-top: -8px;
    margin-bottom: 10px;
    color: $values;
  }
  .field-label{
    color: $label;
  }
  .field-value{
    color: $values;
  }
}

a:hover{
  cursor: pointer;
}





