<div class="container">
  <div class="row">
    <div class="col-sm-7 details">
      <div class="header">
        <h4>{{ctrl.dataset.title}}</h4>
        <p class="small"><span>{{ctrl.user_actions.views}} views </span> <span>{{ctrl.user_actions.appreciations}} Appreciations</span><span class="pull-right"><i
          class="fa fa-fw fa-bookmark-o"></i>Bookmark</span></p>
        <div style="padding-top: 10px;">
          <b>Files ({{ctrl.dataset.datafiles.length}})</b>
          <a class="pull-right" style="padding-left:20px;"><i class="fa fa-fw fa-list"></i></a>
          <a class="pull-right theme" style="padding-left:10px;"><i class="fa fa-fw fa-th"></i></a>
          <a class="pull-right"><i class="fa fa-fw fa-download"></i>Download All</a>
        </div>
        <hr style="margin-top: 5px;"/>
      </div>
      <div class="row body">
        <div dir-paginate="file in ctrl.dataset.files | itemsPerPage: 12" class="col-sm-3">
          <display-image file="file"></display-image>
        </div>
      </div>
      <div class="row">
        <dir-pagination-controls></dir-pagination-controls>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <label for="comment">Comments (25)</label>
          <hr style="margin-top: 5px;"/>
          <textarea class="form-control" rows="5" id="comment"></textarea>
          <button class="btn pull-right theme text-uppercase">Post</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-1">
      <h4>Description</h4>
      <p>Loreum ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble</p>
      <div class="form-horizontal">
        <div class="text-light">
          <div class="form-group">
            <label class="col-sm-2">DOI:</label>
            <div class="col-sm-10 theme">
              {{ctrl.dataset.DOI}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2">Published:</label>
            <div class="col-sm-10">
              {{ctrl.dataset.birthtime}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2">Authors:</label>
            <div class="col-sm-10">
                <span ng-repeat="a in ctrl.dataset.authors" class="theme">{{a}}<span
                  ng-show=" ! $last ">, </span></span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <button ng-click="ctrl.appreciate()" type="button" class="btn btn-circle btn-xl">
          <i class="fa fa-thumbs-up fa-1x"></i></button>
        <p class="small theme">Appreciate Work</p>
      </div>
      <br>
      <h4>More data sets by these authors</h4>
      <div class="form-horizontal" ng-repeat="ds in ctrl.other_datasets">
        <h5>{{ds.title}}</h5>
        <div class="text-light">
          {{ds.description}}
          <property-value property="Authors" value="ds.authors"></property-value>
          <property-value property="Files" value="ds.files.length"></property-value>
          <property-value property="DOI" value="ds.DOI" ui-sref="main.details({id: ds.id})"
                          apply="theme"></property-value>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
